/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a default font for the entire application */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Style for links */
a {
  color: #77aaff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
